form { margin-block-end: 1em; }

li { list-style-position: inside; }
li :is(dir, menu, ol, ul) { list-style-position: outside; }
:is(dir, menu, ol, ul) :is(dir, menu, ol, ul, li) { list-style-position: unset; }

table {
  font-weight: initial;
  font-style: initial;
  font-variant: initial;
  font-size: initial;
  line-height: initial;
  white-space: initial;
  text-align: initial;
}

input:not([type=image i]), textarea { box-sizing: border-box; }

img[align=left i] { margin-right: 3px; }
img[align=right i] { margin-left: 3px; }
